<orc-dict-edit-help-modal modal-id="helpModal">
</orc-dict-edit-help-modal>

<div class="col-md-4">
	<table class="table table-condensed">
		<tr>
			<th>Orcish</th>
			<td>
				<input type="text" class="form-control"
				ng-model="vm.word.orcish" ng-change="vm.onChangeOrcish()"/>
				<span class="help-block" ng-show="vm.showForgetMessage">
					Don't forget to press autofill
				</span>
			</td>
		</tr>
		<tr>
			<th>English</th>
			<td>
				<input type="text" class="form-control"
				ng-model="vm.word.english"/>
			</td>
		</tr>
		<tr>
			<th>Part of Speech</th>
			<td>
				<select class="form-control" ng-model="vm.word.PoS">
					<option value="">--Please Select--</option>
					<option value="adjective">Adjective</option>
					<option value="adverb">Adverb</option>
					<option value="cardinal">Cardinal</option>
					<option value="conjunction">Conjunction</option>
					<option value="copular verb">Copular Verb</option>
					<option value="exclamation">Exclamation</option>
					<option value="interjection">Interjection</option>
					<option value="noun">Noun</option>
					<option value="prefix">Prefix</option>
					<option value="preposition">Preposition</option>
					<option value="pronoun">Pronoun</option>
					<option value="suffix">Suffix</option>
					<option value="verb">Verb</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Extra Info (optional)</th>
			<td>
				<textarea class="form-control" ng-model="vm.word.extraInfo">
				</textarea>
			</td>
		</tr>
		<tr>
			<th>Coined By (optional)</th>
			<td>
				<input type="text" class="form-control"
				ng-model="vm.word.coinedBy"/>
			</td>
		</tr>
		<tr>
			<th>Named After (optional)</th>
			<td>
				<input type="text" class="form-control"
				ng-model="vm.word.namedAfter"/>
			</td>
		</tr>
		<tr>
			<th>
				<ng-pluralize count="vm.getNumRelatedWords()"
				when="{'0': 'There are no related words',
				'one': 'There is 1 related word',
				'other': 'There are {} related words'}">
				</ng-pluralize>
			</th>
			<td>
				<button type="button" class="btn btn-default form-control"
				ng-click="vm.toggleRelatedWords()">
					{{vm.showRelatedWordsText}}
				</button>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-primary"
				ng-click="vm.submitFunction()">
					<span class="glyphicon glyphicon-edit">
					</span> {{vm.submitText}}
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-success"
				ng-click="vm.autofill()"
				ng-disabled="vm.submitDisabled || !vm.canAutofill()">
					<span class="glyphicon glyphicon-save">
					</span> Autofill
				</button>
				<button type="button" class="btn btn-info pull-right"
				ng-click="vm.showHelpModal()">
					<span class="glyphicon glyphicon-question-sign">
					</span> Help
				</button>
			</td>
		</tr>
	</table>
</div>

<div class="col-md-8" ng-show="vm.showRelatedWords">
	<table class="table table-condensed table-bordered">
		<tr>
			<th colspan="2">Related Words</th>
			<td class="minimize-width">
				<button type="button" class="btn btn-default"
				ng-click="vm.addRelatedWord()">
					New Related Word
				</button>
			</td>
		</tr>
		<tr>
			<th class="width-larger">Orcish</th>
			<th class="min-width-visible">Num</th>
			<td></td>
		</tr>
		<tr ng-repeat="relatedWord in vm.word.relatedWords track by $index">
			<td>
				<input class="form-control" type="text"
				ng-model="relatedWord.orcish"/>
			</td>
			<td>
				<input class="form-control" type="number" min="1"
				ng-model="relatedWord.num"/>
			</td>
			<td>
				<button type="button" class="btn btn-danger"
				ng-click="vm.removeRelatedWord($index)">
					<span class="glyphicon glyphicon-remove">
					</span> Remove
				</button>
			</td>
		</tr>
	</table>
</div>

<orc-dict-editable-noun noun="vm.word.noun" ng-if="vm.word.PoS==='noun'">
</orc-dict-editable-noun>

<orc-dict-editable-verb verb="vm.word.verb" ng-if="vm.word.PoS==='verb'">
</orc-dict-editable-verb>

<orc-dict-editable-adjective adjective="vm.word.adjective"
ng-if="vm.word.PoS==='adjective'">
</orc-dict-editable-adjective>

<orc-dict-editable-pronoun pronoun="vm.word.pronoun"
ng-if="vm.word.PoS==='pronoun'">
</orc-dict-editable-pronoun>

<orc-dict-editable-affix affix="vm.word.affix"
ng-if="vm.word.PoS==='prefix' || vm.word.PoS==='suffix'">
</orc-dict-editable-affix>

<orc-dict-editable-copula copula="vm.word.copula"
ng-if="vm.word.PoS==='copular verb'">
</orc-dict-editable-copula>
