<div class="col-md-6">
	<table class="table table-condensed">
		<tr>
			<th>Case</th>
			<th>Masculine</th>
			<th>Feminine</th>
			<th>Neutral</th>
		</tr>
		<tr>
			<th>Nominative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.masculine.nominative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.feminine.nominative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.neutral.nominative"/>
			</td>
		</tr>
		<tr>
			<th>Genitive</th>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.masculine.genitive"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.feminine.genitive"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.neutral.genitive"/>
			</td>
		</tr>
		<tr>
			<th>Dative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.masculine.dative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.feminine.dative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.neutral.dative"/>
			</td>
		</tr>
		<tr>
			<th>Accusative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.masculine.accusative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.feminine.accusative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.neutral.accusative"/>
			</td>
		</tr>
		<tr>
			<th>Vocative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.masculine.vocative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.feminine.vocative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="relative.neutral.vocative"/>
			</td>
		</tr>
	</table>
</div>
