<div class="col-md-4">
	<table class="table table-condensed min-first-col">
		<tr>
			<th>Orcish</th>
			<td>{{word.orcish}}</td>
		</tr>
		<tr>
			<th>English</th>
			<td>{{word.english}}</td>
		</tr>
		<tr>
			<th>Part of Speech</th>
			<td class="capitalize">{{word.PoS}}</td>
		</tr>
	</table>
</div>

<div class="clearfix"></div>

<orc-dict-adjective-case-table case-group="word.adjective.feminine"
title="Feminine">
</orc-dict-adjective-case-table>

<orc-dict-adjective-case-table case-group="word.adjective.masculineNeutral"
title="Masculine/Neutral">
</orc-dict-adjective-case-table>
