<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="active.present"
	title="Present Active"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="passive.present"
	title="Present Passive"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="active.past"
	title="Past Active"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="passive.past"
	title="Past Passive"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="active.future"
	title="Future Active"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="passive.future"
	title="Future Passive"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="active.pastPerfect"
	title="Past Perfect Active"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="passive.pastPerfect"
	title="Past Perfect Passive"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="active.futurePerfect"
	title="Future Perfect Active"></orc-dict-editable-verb-conj-table>
</div>
<div class="col-md-6">
	<orc-dict-editable-verb-conj-table conj="passive.futurePerfect"
	title="Future Perfect Passive"></orc-dict-editable-verb-conj-table>
</div>
