<div class="col-md-6">
	<table class="table table-condensed min-first-col">
		<tr>
			<th>Declension</th>
			<td class="capitalize">{{noun.declension}}</td>
		</tr>
		<tr>
			<th>Gender</th>
			<td class="capitalize">{{noun.gender}}</td>
		</tr>
	</table>
</div>

<div class="col-md-6">
	<table class="table table-condensed">
		<tr>
			<th>Case</th>
			<th>Singular</th>
			<th>Plural</th>
		</tr>
			<th>Nominative</th>
			<td>{{noun.nominative.singular}}</td>
			<td>{{noun.nominative.plural}}</td>
		</tr>
		<tr>
			<th>Genitive</th>
			<td>{{noun.genitive.singular}}</td>
			<td>{{noun.genitive.plural}}</td>
		</tr>
		<tr>
			<th>Dative</th>
			<td>{{noun.dative.singular}}</td>
			<td>{{noun.dative.plural}}</td>
		</tr>
		<tr>
			<th>Accusative</th>
			<td>{{noun.accusative.singular}}</td>
			<td>{{noun.accusative.plural}}</td>
		</tr>
		<tr>
			<th>Vocative</th>
			<td>{{noun.vocative.singular}}</td>
			<td>{{noun.vocative.plural}}</td>
		</tr>
	</table>
</div>
