<h1>Welcome</h1>

<p>
	This is the online dictionary for the orcish language created by
	<em>Matt Vancil</em>
</p>

<div class="col-md-6">
	<p>Main Features:</p>
	<ul>
		<li>Word List</li>
		<ul>
			<li>View all the words</li>
			<li>Sort by Orcish, English or Part of Speech</li>
			<li>Limit by Part of Speech</li>
		</ul>
		<li>Adjectives</li>
		<ul>
			<li>View both their feminine and masculine/neutral genders for
			all 5 cases</li>
			<li>Every form combination</li>
			<ul>
				<li>gender (feminine and masculine/neutral) and</li>
				<li>
					case (nominative, genitive, dative, accusative and vocative)
				</li>
			</ul>
		</ul>
		<li>Nouns</li>
		<ul>
			<li>Every form combination</li>
			<ul>
				<li>number (singular and plural) and</li>
				<li>
					case (nominative, genitive, dative, accusative and vocative)
				</li>
			</ul>
		</ul>
		<li>Verbs</li>
		<ul>
			<li>Every form combination</li>
			<ul>
				<li>number (singular and plural),</li>
				<li>person (1st, 2nd and 3rd),</li>
				<li>voice (active and passive), and</li>
				<li>
					tense (past, present, future, past perfect and future
					perfect)
				</li>
			</ul>
			<li>Imperative form</li>
			<li>
				Gerund form (verb as noun e.g.
				<em><strong>killing</strong> is fun</em>)
			</li>
			<li>
				Participle form (verb as adjective e.g.
				<em>the <strong>lying</strong> human</em>)
			</li>
			<li>
				Agent form (person who performs the verb's action e.g.
				"to bake" becomes "baker")
			</li>
			<li>Feminine, masculine and dishonorable agent forms</li>
		</ul>
		<li>Sentences</li>
		<ul>
			<li>View by category</li>
		</ul>
	</ul>
</div>

<div class="col-md-6">
	<p>Searching:</p>
	<ul>
		<li>Search using orcish</li>
		<ul>
			<li>Find all words who's orcish match</li>
			<li>Find all word cases that match</li>
			<li>
				Get information about the match type
				e.g. searching for <em>ashkagek</em> tells us its the
				<em>past active 3rd person plural</em> form of the word
				<em>ka</em>
			</li>
			<li>
				Find matches that use suffixes and prefixes
				e.g. searching for <em>keheldjart</em> tells us its the
				<em>imperative singular</em> form of the word 
				<em>heldja</em> with the <em>ke-</em> prefix
			</li>
			<li>
				Find matches where the prefix attaches to the head of a verb
				e.g. searching for <em>arkeheldjag</em> tells us its the
				<em>future active 1st person singular</em> form of the word
				<em>heldja</em> with the <em>ke-</em> prefix
		</ul>
		<li>Search using english</li>
		<ul>
			<li>
				Searches using english, extra info, coined by and named after
				fields
			</li>
		</ul>
	</ul>
</div>

<div class="col-md-6">
	<p>Admin Features:</p>
	<ul>
		<li>
			Autofill button to automatically generate cases/conjugations for
			nouns, verbs and adjectives
		</li>
		<li>
			Bulk Add page for adding multiple words at once
		</li>
		<li>
			Help buttons on New Word, Edit Word and Bulk Add pages
		</li>
		<li>
			Statistics page
		</li>
	</ul>
</div>
