<h1>Search Page</h1>

<ul class="nav nav-tabs">
	<li ng-repeat="result in vm.results"
	ng-class="{active: vm.activeResult === $index}">
		<a href="#" ng-click="vm.setActive($index)">{{result.str}}</a>
	</li>
</ul>

<table class="table table-condensed">
	<tr>
		<th>Word</th>
		<th>Match</th>
		<th>Type</th>
	</tr>
	<tr ng-repeat="match in vm.activeMatches">
		<td><a ng-href="/words/{{match.word.orcish}}">
			<strong>{{match.word.orcish}}</strong>
			, {{match.word.PoS}}, {{match.word.english}}.
		</a></td>
		<td>{{match.keyword}}</td>
		<td>{{match.message}}</td>
	</tr>
</table>
