<orc-dict-bulk-add-help-modal modal-id="helpModal">
</orc-dict-bulk-add-help-modal>

<h1>Bulk Add</h1>

<div class="form-group">
	<select ng-model="vm.encoding">
		<option value="csv">Comma Separated Values (CSV)</option>
		<option value="tsv">Tab Separated Values (TSV)</option>
	</select>
	<select ng-model="vm.updateMethod">
		<option value="duplicate">Allow duplication</option>
		<option value="unique">Don't add if already exists</option>
		<option value="remove">Replace existing words</option>
	</select>
	<select ng-model="vm.order">
		<option value="o-p-e">"Orcish","Part Of Speech","English"</option>
		<option value="e-o-p">"English","Orcish","Part Of Speech"</option>
	</select>
</div>
<div class="form-group">
	<textarea class="form-control" spellcheck="false" rows="20"
	ng-model="vm.data" orc-dict-file-drop
	orc-dict-on-load="vm.onload($fileContent)">
	</textarea>
</div>
<div class="form-group">
	<button type="button" class="btn btn-primary" ng-click="vm.submit()"
	ng-disabled="vm.submitDisabled">
		Submit
	</button>
	<button type="button" class="btn btn-success"
	ng-click="vm.showHelpModal()">
		<span class="glyphicon glyphicon-question-sign">
		</span> Help
	</button>
</div>
