/* Required to prevent fixed navbar from overlaying other content */
body {
	padding-top: 100px;
}

.min-first-col td {
	width: 100%;
}

.minimize-width {
	width: 1%;
}

.width-larger {
	width: 60%
}

.min-width-visible {
	min-width: 5em;
}

.small-width {
	width: 25%;
}

.capitalize {
	text-transform: capitalize;
}

@media (min-width: 992px) {
	.width-PoS {
		width: 15em;
	}

	.width-orcish {
		width: 15em;
	}
}

.width-third {
	width: 33%;
}

.width-half {
	width: 50%;
}

textarea {
	-moz-tab-size: 64;
	-o-tab-size: 64;
	tab-size: 64;
}

select.form-control {
	padding-right: 25px;
	/*background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");*/
	background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zycgd2lkdGg9JzE0cHgnCiAgICAgICAgICAgaGVpZ2h0PScxNHB4JyB2aWV3Qm94PScwIDAgMTIwMCAxMDAwJyBmaWxsPSdyZ2IoNTEsNTEsNTEpJz4KICAgICAgICA8cGF0aCBkPSdNMTEwMCA0MTFsLTE5OCAtMTk5bC0zNTMgMzUzbC0zNTMgLTM1M2wtMTk3IDE5OWw1NTEgNTUxeicvPgogICAgICA8L3N2Zz4=");
	background-repeat: no-repeat;
	background-position: calc(100% - 7px) 50%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

dd {
	margin-left: 0;
	padding-left: 1em;
	text-indent: -0.7em;
}

dd:before {
	content: "- ";
}

.btn-link.navbar-btn:hover, .btn-link.navbar-btn:focus {
	text-decoration: none;
}

.tab-right {
	margin-right: 5em;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin-left: auto;
	margin-right: auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.grammar-text span {
	display: inline-block;
	text-indent: 1.5em;
}

.grammar-text span:first-child {
	/*text-indent: 0em;*/
}

ul.decl-def-list {
	padding-left: 3.0em;
	margin-top: -10px;
	margin-bottom: -0px;
}

ul.decl-def-list > li {
	list-style: none;
	position: relative;
	text-indent: -1.5em;
}

ol.brackets {
	counter-reset: brackets
}

ol.brackets > li {
	list-style: none;
	position: relative;
	padding-left: 1.8em;
	text-indent: -1.8em;
}

ol.brackets > li:before {
	counter-increment: brackets;
	content: "(" counter(brackets)") ";
}

.table-pron {
	width: auto;
	margin: 0px auto 1em;
}

.table-pron td {
	border: none !important;
	padding: 2px !important;
}

.table-pron td:first-child {
	width: 5em;
	text-align: center
}

.table-pron td:nth-child(2) {
	width: 15em;
	text-align: center
}

.table-verb-conj {
	width: auto;
	margin: 0px auto 1em;
}

.table-verb-conj td {
	border: none !important;
	padding: 2px !important;
}

.table-verb-conj td:first-child {
	width: 8em;
}

.table-verb-conj td:nth-child(2) {
	width: 5em;
}

.table-verb-conj td:nth-child(3) {
	width: 12em;
}

.table-verb-conj td:nth-child(4) {
	width: 12em;
}

.table-noun-decl {
	width: auto;
	margin: 0px auto 1em;
}

.table-noun-decl td {
	border: none !important;
	padding: 2px !important;
}

.table-noun-decl td:first-child {
	width: 15em;
}

.table-noun-decl td:nth-child(2) {
	width: 12em;
}

.table-noun-decl td:nth-child(3) {
	width: 12em;
}

.table-pronoun-2 {
	width: auto;
	margin: 0px auto 1em;
}

.table-pronoun-2 td {
	border: none !important;
	padding: 2px !important;
}

.table-pronoun-2 td:first-child {
	width: 10em;
}

.table-pronoun-2 td:nth-child(2) {
	width: 15em;
}

.table-pronoun-2 td:nth-child(3) {
	width: 15em;
}

.table-pronoun-3 {
	width: auto;
	margin: 0px auto 1em;
}

.table-pronoun-3 td {
	border: none !important;
	padding: 2px !important;
}

.table-pronoun-3 td:first-child {
	width: 10em;
}

.table-pronoun-3 td:nth-child(2) {
	width: 10em;
}

.table-pronoun-3 td:nth-child(3) {
	width: 10em;
}

.table-pronoun-3 td:nth-child(4) {
	width: 10em;
}

.table-pronoun-small {
	width: auto;
	margin: 0px auto 1em;
}

.table-pronoun-small td {
	border: none !important;
	padding: 2px !important;
}

.table-pronoun-small td:first-child {
	width: 8em;
}

.table-pronoun-small td:nth-child(2) {
	width: 15em;
}

.table-pronoun-small td:nth-child(3) {
	width: 12em;
}

.table-pronoun-6 {
	width: auto;
	margin: 0px auto 1em;
}

.table-pronoun-6 td {
	border: none !important;
	padding: 2px !important;
}

.table-pronoun-6 td:first-child {
	width: 8em;
}

.table-pronoun-6 td:nth-child(2) {
	width: 4em;
}

.table-pronoun-6 td:nth-child(3) {
	width: 4em;
}

.table-pronoun-6 td:nth-child(4) {
	width: 7em;
}

.table-pronoun-6 td:nth-child(5) {
	width: 4em;
}

.table-pronoun-6 td:nth-child(6) {
	width: 4em;
}

.table-pronoun-6 td:nth-child(7) {
	width: 4em;
}

.sidebar {
	display: block;
	position: fixed;
	top: 120px;
	padding-left: 20px;
}

.sidebar > ul {
	list-style: none;
}

.sidebar a {
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus {
	color: #004784;
	border-left: 1px solid #337ab7;
	outline: 0;
	padding-left: 19px;
}
