<div class="col-md-6">
	<table class="table table-condensed min-first-col">
		<tr>
			<th>Orcish</th>
			<td>{{word.orcish}}</td>
		</tr>
		<tr>
			<th>English</th>
			<td>{{word.english}}</td>
		</tr>
		<tr>
			<th>Part of Speech</th>
			<td class="capitalize">{{word.PoS}}</td>
		</tr>
		<tr ng-if="word.extraInfo">
			<th>Extra Info</th>
			<td>{{word.extraInfo}}</td>
		</tr>
		<tr ng-if="word.coinedBy">
			<th>Coined By</th>
			<td>{{word.coinedBy}}</td>
		</tr>
		<tr ng-if="word.namedAfter">
			<th>Named After</th>
			<td>{{word.namedAfter}}</td>
		</tr>
	</table>
	<table class="table table-condensed"
	ng-if="word.relatedWords.length > 0">
		<tr>
			<th>Related Words</th>
		</tr>
		<tr ng-repeat="relatedWord in word.relatedWords">
			<td><a href="/words/{{relatedWord.orcish}}">
				{{relatedWord.orcish}}
			</a></td>
		</tr>
	</table>
	<table class="table table-condensed"
	ng-if="word.exampleSentences.length > 0">
		<tr>
			<th colspan="2">Example Sentences</th>
		</tr>
		<tr>
			<th>Orcish</th>
			<th>English<th>
		</tr>
		<tr ng-repeat="example in word.exampleSentences">
			<td>{{example.orcish}}</td>
			<td>{{example.english}}</td>
		</tr>
	</table>
</div>

<orc-dict-verb ng-if="word.PoS==='verb'" verb="word.verb">
</orc-dict-verb>

<orc-dict-noun ng-if="word.PoS==='noun'" noun="word.noun">
</orc-dict-noun>

<orc-dict-adjective ng-if="word.PoS==='adjective'" adjective="word.adjective">
</orc-dict-adjective>

<orc-dict-pronoun ng-if="word.PoS==='pronoun'" pronoun="word.pronoun">
</orc-dict-pronoun>

<orc-dict-possessive ng-if="word.PoS==='possessive'"
possessive="word.possessive">
</orc-dict-possessive>

<orc-dict-demonstrative ng-if="word.PoS==='demonstrative'"
demonstrative="word.demonstrative">
</orc-dict-demonstrative>

<orc-dict-relative ng-if="word.PoS==='relative'"
relative="word.relative">
</orc-dict-relative>
