<div class="col-md-6">
	<table class="table table-condensed">
		<tr>
			<th>Nominative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.nominative"/>
			</td>
		</tr>
		<tr>
			<th>Genitive</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.genitive"/>
			</td>
		</tr>
		<tr>
			<th>Dative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.dative"/>
			</td>
		</tr>
		<tr>
			<th>Accusative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.accusative"/>
			</td>
		</tr>
		<tr>
			<th>Vocative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.vocative"/>
			</td>
		</tr>
	</table>
</div>
