<div class="col-md-6">
	<table class="table table-condensed">
		<tr>
			<th>Case</th>
			<th>Masculine</th>
			<th>Feminine</th>
			<th>Neutral</th>
		</tr>
		<tr>
			<th>Nominative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.masculine.nominative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.feminine.nominative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.neutral.nominative"/>
			</td>
		</tr>
		<tr>
			<th>Genitive</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.masculine.genitive"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.feminine.genitive"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.neutral.genitive"/>
			</td>
		</tr>
		<tr>
			<th>Dative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.masculine.dative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.feminine.dative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.neutral.dative"/>
			</td>
		</tr>
		<tr>
			<th>Accusative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.masculine.accusative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.feminine.accusative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.neutral.accusative"/>
			</td>
		</tr>
		<tr>
			<th>Vocative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.masculine.vocative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.feminine.vocative"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="demonstrative.neutral.vocative"/>
			</td>
		</tr>
	</table>
</div>
