<div class="col-md-4">
	<table class="table table-condensed">
		<tr>
			<th>Type</th>
			<td>
				<select class="form-control" ng-model="pronoun.type">
					<option value="">-- Please Select --</option>
					<option value="pronoun">Pronoun</option>
					<option value="possessive">Possessive</option>
					<option value="demonstrative">Demonstrative</option>
					<option value="relative">Relative</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Number</th>
			<td>
				<select class="form-control" ng-model="pronoun.number">
					<option value="">-- Please Select --</option>
					<option value="singular">Singular</option>
					<option value="plural">Plural</option>
				</select>
			</td>
		</tr>
	</table>
</div>

<div class="col-md-6">
	<table class="table table-condensed">
		<tr>
			<th>Nominative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="pronoun.nominative"/>
			</td>
		</tr>
		<tr>
			<th>Genitive</th>
			<td>
				<input type="text" class="form-control"
				ng-model="pronoun.genitive"/>
			</td>
		</tr>
		<tr>
			<th>Dative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="pronoun.dative"/>
			</td>
		</tr>
		<tr>
			<th>Accusative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="pronoun.accusative"/>
			</td>
		</tr>
		<tr>
			<th>Vocative</th>
			<td>
				<input type="text" class="form-control"
				ng-model="pronoun.vocative"/>
			</td>
		</tr>
	</table>
</div>
