<h1>Search Results</h1>

<div class="loader" ng-if="!vm.results"></div>

<div ng-if="vm.results">
	<ul class="nav nav-tabs">
		<li ng-repeat="result in vm.results"
		ng-class="{active: vm.activeResult === $index}">
			<a href="#" draggable="false" ng-click="vm.setActive($index)">
				{{result.str}}
			</a>
		</li>
	</ul>

	<table class="table table-condensed">
		<tr>
			<th>Word</th>
			<th>Match</th>
			<th>Type</th>
		</tr>
		<tr ng-repeat="match in vm.activeMatches">
			<td><a ng-href="/words/{{match.word.orcish}}/{{match.word.num}}">
				<strong>{{match.word.orcish}}</strong>,
				<em>{{match.word.PoS}}</em>, {{match.word.english}}.
			</a></td>
			<td>{{match.keyword}}</td>
			<td>{{match.message}}</td>
		</tr>
	</table>
</div>

<div ng-if="vm.textResults">
	<table class="table table-condensed">
		<tr>
			<th>English Results</th>
		</tr>
		<tr ng-repeat="word in vm.textResults">
			<td><a ng-href="/words/{{word.orcish}}/{{word.num}}">
				<strong>{{word.orcish}}</strong>,
				<em>{{word.PoS}}</em>, {{word.english}}.
			</a></td>
		</tr>
	</table>
</div>
