<div class="col-md-6">
	<table class="table table-condensed min-first-col">
		<tr>
			<th>Orcish</th>
			<td>
				{{word.orcish}}
				<orc-dict-syrronize text="word.orcish" on-global="true" size="3"/>
			</td>
		</tr>
		<tr>
			<th>English</th>
			<td>{{word.english}}</td>
		</tr>
		<tr>
			<th>Part of Speech</th>
			<td class="capitalize">{{word.PoS}}</td>
		</tr>
		<tr ng-if="word.extraInfo">
			<th>Extra Info</th>
			<td>{{word.extraInfo}}</td>
		</tr>
		<tr ng-if="word.coinedBy">
			<th>Coined By</th>
			<td>{{word.coinedBy}}</td>
		</tr>
		<tr ng-if="word.namedAfter">
			<th>Named After</th>
			<td>{{word.namedAfter}}</td>
		</tr>
	</table>
</div>

<orc-dict-verb ng-if="word.PoS==='verb'" verb="word.verb">
</orc-dict-verb>

<orc-dict-noun ng-if="word.PoS==='noun'" noun="word.noun">
</orc-dict-noun>

<orc-dict-adjective ng-if="word.PoS==='adjective'" adjective="word.adjective">
</orc-dict-adjective>

<orc-dict-pronoun ng-if="word.PoS==='pronoun'" pronoun="word.pronoun">
</orc-dict-pronoun>

<orc-dict-affix ng-if="word.PoS==='prefix' || word.PoS==='suffix'"
affix="word.affix">
</orc-dict-affix>

<orc-dict-copula ng-if="word.PoS==='copular verb'" copula="word.copula">
</orc-dict-copula>
