<orc-dict-modal action-function="vm.removeModalAction()" action-text="Delete"
close-text="Cancel" modal-id="removeModal">
	<h4>
		Are you sure you want to delete {{vm.wordToRemove.orcish}},
		{{vm.wordToRemove.english}}, {{vm.wordToRemove.PoS}}?
	</h4>
</orc-dict-modal>

<form class="form-horizontal col-md-6">
	<div class="form-group">
		<label class="control-label col-sm-4">Words per Page</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.numPerPage"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4">Part of Speach</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.PoS"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="">--All--</option>
				<option value="adjective">Adjective</option>
				<option value="adverb">Adverb</option>
				<option value="cardinal">Cardinal</option>
				<option value="conjunction">Conjunction</option>
				<option value="contraction">Contraction</option>
				<option value="copular verb">Copular Verb</option>
				<option value="exclamation">Exclamation</option>
				<option value="interjection">Interjection</option>
				<option value="noun">Noun</option>
				<option value="prefix">Prefix</option>
				<option value="preposition">Preposition</option>
				<option value="pronoun">Pronoun</option>
				<option value="suffix">Suffix</option>
				<option value="verb">Verb</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4">Order By</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.order"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="orderedOrcish">Orcish Ascending</option>
				<option value="-orderedOrcish">Orcish Descending</option>
				<option value="english">English Ascending</option>
				<option value="-english">English Descending</option>
				<option value="PoS">Part of Speech Ascending</option>
				<option value="-PoS">Part of Speech Descending</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if="vm.PoS === 'noun'">
		<label class="control-label col-sm-4">Declension</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.declension"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="">--All--</option>
				<option value="first">First</option>
				<option value="secondMasculine">Second (masculine)</option>
				<option value="secondNeutral">Second (neutral)</option>
				<option value="third">Third</option>
				<option value="fourth">Fourth</option>
				<option value="fifth">Fifth</option>
				<option value="irregular">Irregular</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if="vm.PoS === 'verb'">
		<label class="control-label col-sm-4">Conjugation</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.conjugation"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="">--All--</option>
				<option value="first">First</option>
				<option value="second">Second</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if="vm.PoS === 'pronoun'">
		<label class="control-label col-sm-4">Type</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.pronounType"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="">--All--</option>
				<option value="pronoun">Pronoun</option>
				<option value="possessive">Possessive</option>
				<option value="demonstrative">Demonstrative</option>
				<option value="relative">Relative</option>
			</select>
		</div>
	</div>
</form>

<div class="clearfix"></div>

<div class="loader" ng-if="!vm.words"></div>

<div ng-if="vm.words">
	<orc-dict-pagnation page="vm.page" num-of-pages="vm.numOfPages"
	on-page-change="vm.onPageChange(num)" id="target">
	</orc-dict-pagnation>

	<table class="table table-condensed" ng-if="!vm.isAdmin">
		<tr>
			<th class="width-third">Orcish</th>
			<th class="width-third">English</th>
			<th class="width-third">Part of Speech</th>
		</tr>
		<tr ng-repeat="word in vm.words">
			<td>
				<a href="/words/{{word.orcish}}/{{word.num}}">
					{{word.orcish}}
					<orc-dict-syrronize text="word.orcish"
					on-global="true" size="3"/>
				</a>
			</td>
			<td>{{word.english}}</td>
			<td>{{word.PoS}}</td>
		</tr>
	</table>

	<table class="table table-condensed" ng-if="vm.isAdmin">
		<tr>
			<th class="width-orcish">Orcish</th>
			<th>English</th>
			<th class="width-PoS">Part of Speech</th>
			<th colspan="2" class="minimize-width"></th>
		</tr>
		<tr ng-repeat="word in vm.words">
			<td>
				{{word.orcish}}
				<orc-dict-syrronize text="word.orcish"
				on-global="true" size="3"/>
			</td>
			<td>{{word.english}}</td>
			<td>{{word.PoS}}</td>
			<td>
				<a class="btn btn-primary"
				ng-href="/admin/words/{{word.orcish}}/{{word.num}}">
					<span class="glyphicon glyphicon-edit"></span> Edit
				</a>
			</td>
			<td>
				<button type="button" class="btn btn-danger"
				ng-click="vm.showRemoveModal(word)">
					<span class="glyphicon glyphicon-remove"></span> Delete
				</button>
			</td>
		</tr>
	</table>

	<orc-dict-pagnation page="vm.page" num-of-pages="vm.numOfPages"
	on-page-change="vm.onPageChangeWithScroll(num)">
	</orc-dict-pagnation>
</div>
