<div class="col-md-4">
	<table class="table table-condensed">
		<tr>
			<th>Conjugation</th>
			<td>
				<select class="form-control" ng-model="verb.conjugation">
					<option value="">--Please Select--</option>
					<option value="first">First</option>
					<option value="second">Second</option>
				</select>
			</td>
		</tr>
	</table>
	<table class="table table-condensed table-bordered">
		<tr>
			<th colspan="2" class="text-center">Infinitive</th>
		</tr>
		<tr>
			<th>Active</th>
			<th>Passive</th>
		</tr>
		<tr>
			<td>
				<input type="text" class="form-control"
				ng-model="verb.infinitive.active"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="verb.infinitive.passive"/>
			</td>
		</tr>
	</table>
	<table class="table table-condensed table-bordered">
		<tr>
			<th colspan="2" class="text-center">Imperative</th>
		</tr>
		<tr>
			<th>Singular</th>
			<th>Plural</th>
		</tr>
		<tr>
			<td>
				<input type="text" class="form-control"
				ng-model="verb.imperative.singular"/>
			</td>
			<td>
				<input type="text" class="form-control"
				ng-model="verb.imperative.plural"/>
			</td>
		</tr>
	</table>
</div>

<div class="clearfix"></div>

<orc-dict-editable-verb-voices active="verb.active" passive="verb.passive">
</orc-dict-editable-verb-voices>

<orc-dict-editable-adjective-case-table case-group="verb.participle.feminine"
title="Participle (feminine)">
</orc-dict-editable-adjective-case-table>

<orc-dict-editable-adjective-case-table
case-group="verb.participle.masculine"
title="Participle (masculine)">
</orc-dict-editable-adjective-case-table>

<orc-dict-editable-verb-noun-table noun="verb.gerund" title="Gerund">
</orc-dict-editable-verb-noun-table>

<orc-dict-editable-verb-noun-table noun="verb.agent.feminine"
title="Agent (feminine)">
</orc-dict-editable-verb-noun-table>

<orc-dict-editable-verb-noun-table noun="verb.agent.masculine"
title="Agent (masculine)">
</orc-dict-editable-verb-noun-table>

<orc-dict-editable-verb-noun-table noun="verb.agent.dishonorable"
title="Agent (dishonorable)">
</orc-dict-editable-verb-noun-table>
