<orc-dict-modal action-function="vm.removeModalAction()" action-text="Delete"
modal-id="removeModal">
	<h4>
		Are you sure you want to delete {{vm.wordToRemove.orcish}}
		, {{vm.wordToRemove.english}}, {{vm.wordToRemove.PoS}}?
	</h4>
</orc-dict-modal>

<form class="form-horizontal col-md-6">
	<div class="form-group">
		<label class="control-label col-sm-4">Words per Page</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.numPerPage"
			ng-change="vm.loadWords()">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4">Part of Speach</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.PoS"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="">--All--</option>
				<option value="adjective">Adjective</option>
				<option value="adverb">Adverb</option>
				<option value="cardinal">Cardinal</option>
				<option value="conjection">Conjection</option>
				<option value="demonstrative">Demonstrative</option>
				<option value="exclamation">Exclamation</option>
				<option value="interjection">Interjection</option>
				<option value="noun">Noun</option>
				<option value="possessive">Possessive</option>
				<option value="preposition">Preposition</option>
				<option value="pronoun">Pronoun</option>
				<option value="relative">Relative</option>
				<option value="verb">Verb</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4">Order By</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="vm.order"
			ng-change="vm.resetPageAndLoadWords()">
				<option value="orcish">Orcish Ascending</option>
				<option value="-orcish">Orcish Descending</option>
				<option value="english">English Ascending</option>
				<option value="-english">English Descending</option>
				<option value="PoS">Part of Speech Ascending</option>
				<option value="-PoS">Part of Speech Descending</option>
			</select>
		</div>
	</div>
</form>

<div class="clearfix"></div>

<nav>
	<ul class="pagination">
		<li ng-class="{disabled: vm.goBackDisabled}">
			<a href="#" ng-click="vm.goBack()">&laquo;</a>
		</li>
		<li ng-repeat="num in vm.nums" ng-class="{active: num.selected}">
			<a href="#" ng-click="vm.changePage(num.num)">{{num.num}}</a>
		</li>
		<li ng-class="{disabled: vm.goForwardDisabled}">
			<a href="#" ng-click="vm.goForward()">&raquo;</a>
		</li>
	</ul>
</nav>

<table class="table table-condensed" ng-if="!vm.isAdmin">
	<tr>
		<th>Orcish</th>
		<th>English</th>
		<th>Part of Speech</th>
	</tr>
	<tr ng-repeat="word in vm.words">
		<td>
			<a href="/words/{{word.orcish}}">{{word.orcish}}</a>
		</td>
		<td>{{word.english}}</td>
		<td>{{word.PoS}}</td>
	</tr>
</table>

<table class="table table-condensed" ng-if="vm.isAdmin">
	<tr>
		<th>Orcish</th>
		<th>English</th>
		<th>Part of Speech</th>
		<th colspan="2"></th>
	</tr>
	<tr ng-repeat="word in vm.words">
		<td>{{word.orcish}}</td>
		<td>{{word.english}}</td>
		<td>{{word.PoS}}</td>
		<td>
			<a class="btn btn-primary" ng-href="/admin/words/{{word.orcish}}">
				<span class="glyphicon glyphicon-edit"></span> Edit
			</a>
		</td>
		<td>
			<button type="button" class="btn btn-danger"
			ng-click="vm.showRemoveModal(word)">
				<span class="glyphicon glyphicon-remove"></span> Delete
			</button>
		</td>
	</tr>
</table>
